{% load static %}
<!DOCTYPE html> 
<html lang="en" dir="ltr"> 
  <head> 
    <meta charset="utf-8"> 
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <style>
      .hide-me {
        display: none;
      }
    </style>
  </head> 
  <body> 
        <div class="container">
          <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-4 pt-1">
                <!-- <a class="text-muted" href="#">Subscribe</a> -->
              </div>
              <div class="col-4 text-center">
                <a class="blog-header-logo display-4 text-dark" href="/">News</a>
              </div>
              <div class="col-4 d-flex justify-content-end align-items-center">
                <!-- <a class="text-muted" href="#" aria-label="Search">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a> -->
              </div>
            </div>
          </header>

          <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
              <a class="p-2 {% block menu_home_class %}{% endblock %}" href="/">Technology</a>
              <a class="p-2 {% block menu_world_class %}{% endblock %}" href="/world">World</a>
              <a class="p-2 {% block menu_busin_class %}{% endblock %}" href="/business">Business</a>
              <a class="p-2 {% block menu_sports_class %}{% endblock %}" href="/sports">Sports</a>
              <a class="p-2 {% block menu_science_class %}{% endblock %}" href="/science">Science</a>
              <a class="p-2 {% block menu_ent_class %}{% endblock %}" href="/entertainment">Entertainment</a>
            </nav>
          </div>
          {% block content %}{% endblock %}
          <div class="text-center my-5">
            <button class="btn btn-dark rounded-0" id="show-more" onclick="showMore()">Show More</button>
          </div>
        </div>
      </div> 
    </div>
    <script>
      function showMore() {
          var hiddenPNodes = document.querySelectorAll('.hide-me');
          // Keep in mind this is an ES6 syntax so browser compatibility should be checked before using it.
          var first = Array.from(hiddenPNodes).slice(0, 6);
          first.forEach(element => {
              element.classList.remove('hide-me');
          });
          // Assuming you want to hide the button when all elements are shown.
          // alert(hiddenPNodes.length);
          if (hiddenPNodes.length <= 6) {
              hideShowMoreButton();
          }
      }
      function hideShowMoreButton() {
          document.getElementById('show-more').style.display = 'none';
      }
    </script>
    </body> 
    </html> 
